html,
body {
  font-size: 15px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
}

textarea {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
}

::selection {
  background: #ffb7b7; /* Safari */
  }
::-moz-selection {
  background: #ffb7b7; /* Firefox */
}

.ui.main.menu {
  border-radius: 0px;
  margin-bottom: 0px;
}

.large-menu {
  display: inline;
}

.medium-menu {
  display: none;
}

.content-container {
  margin: 0 auto;
  max-width: 1024px;
}

.inner-content-container {
  padding-top: 15px;
  margin: 0px 5px 0px 5px;
}

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.progress-container {
  max-width: 357px;
  margin-top: 5px;
}

.output {
  margin-top: 5px;
  height: 15px;
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

/* profile */

.profile-images a img {
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
}

/* images */

.profile-image-list {
  width: 285px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
}

.profile-image-list img {
  max-width: 285px;
  max-height: 210px;
  margin-left: auto;
  margin-right: auto;
}

/* search */

.search-image {
  max-width: 200px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.search-image img {
  height: 140px;
  margin-left: auto;
  margin-right: auto;
}

.search-link {
  margin-bottom: 10px;
}

.search-link a {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

/* File upload */
.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: 30px;
  border: 1px solid #ccc;
  label {
      display: block;
      margin-bottom: 5px;
  }
}

.file-upload-wrapper {
  position: relative; 
  margin-bottom: 5px;
  height: 45px;
}
.file-upload-input {
  width: 215px;
  color: #333;
  font-size: 16px;
  padding: 11px 17px; 
  border: 1px solid #ccc;
  background-color: #fff;
  float: left; /* IE 9 Fix */
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

.file-upload-button {
  cursor: pointer; 
  display: inline-block; 
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 20px; 
  border: none;
  margin-left: -1px;  
  background-color: #E96633;
  border: 1px solid #E96633;
  float: left; /* IE 9 Fix */
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;

}

.file-upload-button:hover {
  background-color: #E46432;
}

/* Tablets and medium screens */
@media only screen and (max-width: 992px){
  .large-menu {
    display: none;
  }

  .medium-menu {
    display: inline;
  }
}

/* Mobile and small screens */
@media only screen and (max-width: 768px){

}